 body, html{
	height: 100%;
	width: 100%;
}

body{
	background: url(https://images.unsplash.com/photo-1516371535707-512a1e83bb9a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=63b43531bb8a96aecd442b3abc435694&auto=format&fit=crop&w=500&q=60);
	background-size: cover;
	background-position: center 55%;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	color: white;

}

h1{
	font-size: 4em;
	font-weight: bold;
}



hr{
	border-color: white;
	width: 60%;
}

#content{
	text-align: center;
	padding-top: 25%;
	text-shadow: 0px 3px 3px  rgba(0,0,0,.4), 
				 0px 6px 10px  rgba(0,0,0,.2),
				 0px 12px 20px  rgba(0,0,0,.2)
}

.bg-light{
	background: #ededed !important;
}

.navbar{
	    padding: 0;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
    padding-top: .9rem;
    padding-bottom: .9rem;
}    

.navbar-nav .active{
	background-color: #dbdde0;
	
}

.navbar-light .navbar-nav .active>.nav-link{
	color: rgba(0,0,0,.5)
}

.lead{
	font-weight: bold;
}

.navbar-brand{
	font-size: 1.6em; 
}

.btn-light{
	color: #333;
	transition: all 2s;
}

.btn-light:hover{
	background-color: green;
}

.navbar-light .navbar-brand {
    color: rgba(244, 244, 244, 0.75);
}

.navbar-light .navbar-nav .active>.nav-link {
    color: rgb(22, 21, 21);
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(211, 211, 211);
}

.bg-light {
    background: #090808 !important;
}

.btn-light {
   color: white;
    background-color: #087789;

}

h1{
   color: #f7feffb8;

}


.navbar-toggler {
   
    background-color: #faffff;
   
}

@media(min-width: 400px){
	h1{	
	font-size: 5em;
}


}